body {
  background-color: #c6c9cd; /* Soft black */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.search-bar {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    /* Adjusted to make room for the button */
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 9999px;
    width: 24rem;
    background-image: linear-gradient(to right, #a6a8ac, #a6a8ac); */
    border: none;
    outline: none;
    color: black;
    position: relative;
  }
  
  .search-bar::placeholder {
    color: black;
  }
  
  .search-icon {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 0.5rem;
    margin-left: 1rem;
    color: black;
  }
  
  .search-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    /* Center vertically */
    padding: 0.7rem;
    /* Add some padding to make it easier to click */
    background: transparent;
    border: none;
    cursor: pointer;
    color: #08639b;
    /*Change the color if needed! */
    z-index: 10;
  }
  
  .welcome-text {
    background: -webkit-linear-gradient(#72b2da, #08639b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 3.25rem;
    margin-bottom: 1.5rem;
  }