body {
  background-color: #90B0FC;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Removed justify-content to allow natural flow */
  min-height: 100vh; /* use min-height instead of height */
  font-family: 'Karla', sans-serif;
}

.search-bar {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 9999px;
  width: 24rem;
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  border: none;
  outline: none;
  color: black;
  position: relative;
  transition: box-shadow 0.2s linear, width 0.5s ease; /* Transition for smooth glow effect and width change */
}

.search-bar:focus, .search-bar:hover {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed; /* Glowing effect */
  width: 26rem; /* Slightly increase width on focus or hover */
}
  
  .search-bar::placeholder {
    color: black;
  }
  
  .search-icon {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 0.5rem;
    margin-left: 1rem;
    color: black;
  }
  
  .search-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    /* Center vertically */
    padding: 0.7rem;
    /* Add some padding to make it easier to click */
    background: transparent;
    border: none;
    cursor: pointer;
    color: #90B0FC;
    /*Change the color if needed! */
    z-index: 10;
  }
  
  .welcome-text {
    background: -webkit-linear-gradient(#ffffff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 3.25rem;
    /* margin-bottom: 1.5rem; */
    font-weight: bold;      /* Makes the font bold */
  
  }

  /* .results-container{
    display: none;
    background-color:#a6a8ac;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 30px;
    border-radius: 20px;
    overflow-x: auto;
  } */

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .result-title {
    text-decoration: none;  /* Removes underline */
    color: black;           /* Initial color */
    font-weight: bold;      /* Makes the font bold */
    font-size: larger;      /* Increases the font size */
    cursor: pointer;        /* Changes the cursor to indicate it's clickable */
  }
  
  
  .result-title:hover {
    color: #5555FF;         /* Color when hovered */
    text-decoration: underline; /* Underline on hover to indicate it's clickable */
  }
  
  .rocchio-button{
    margin-top: 20px;
    margin-left: 10px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #92aae4;
    color: #adc5fc;
    border-radius: 9999px;
    cursor: pointer;
    height: 40px;
    font-size: 16px;
    transition: 0.3s;
  }

  .result-item {
    animation: fadeInUp 0.8s ease-out;
    opacity: 0;
    animation-fill-mode: forwards;
    margin: 10px auto;
    padding: 15px;
    border: 1px solid #ddd;  /* Light grey border */
    border-radius: 8px;      /* Rounded corners */
    background-color: #ffffff; /* White background */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle shadow */
    width: 80%;              /* Set width, adjust as needed */
    color: #000000;          /* Black text */
  }

  .thumbs-up {
    color: #6d6d6d;
    margin-right: 20px;
    font-size: 32px;
  }

  .thumbs-down{
    color: #6d6d6d;
    margin-right: 20px;
    font-size: 32px;
  }


  .button-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .thumbs-up:hover, .thumbs-down:hover{
    color: #5555FF;
  }

  .filter-rocchio-button{
    display: flex;
  }

  .filter-button{
    margin-top: 20px;
    margin-right: 10px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #6b95f4;
    color: #ffffff;
    border-radius: 9999px;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid #6b95f4;
    transition: 0.3s;
  }

  .filter-button:hover{
    background-color: #ffffff;
    color: #000000;
    border-color: #bac9eb;
  }

  .desc-text{
    margin-bottom: 15px;
    color: #ffffff;
    font-size: 16px;
  }
  
  .results{
    color: #000000;
  }

  h2{
    font-weight: bold;
  }

  .title-link{
    font-weight: bold;
    font-size: larger;
  }

  .title-link:hover{
    color: #3a74fb;
  }

  .text-container{
    margin-top: 120px;
  }

  