body {
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Removed justify-content to allow natural flow */
  min-height: 100vh; /* use min-height instead of height */
}

.search-bar {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    /* Adjusted to make room for the button */
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 9999px;
    width: 24rem;
    background-image: linear-gradient(to right, #a6a8ac, #a6a8ac); */
    border: none;
    outline: none;
    color: black;
    position: relative;
  }
  
  .search-bar::placeholder {
    color: black;
  }
  
  .search-icon {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 0.5rem;
    margin-left: 1rem;
    color: black;
  }
  
  .search-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    /* Center vertically */
    padding: 0.7rem;
    /* Add some padding to make it easier to click */
    background: transparent;
    border: none;
    cursor: pointer;
    color: #08639b;
    /*Change the color if needed! */
    z-index: 10;
  }
  
  .welcome-text {
    background: -webkit-linear-gradient(#72b2da, #08639b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 3.25rem;
    margin-bottom: 1.5rem;
  }

  /* .results-container{
    display: none;
    background-color:#a6a8ac;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 30px;
    border-radius: 20px;
    overflow-x: auto;
  } */

  .result-item {
    margin: 10px auto;
    padding: 15px;
    border: 1px solid #ddd;  /* Light grey border */
    border-radius: 8px;      /* Rounded corners */
    background-color: #525151; /* Light grey background */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle shadow */
    width: 80%;              /* Set width, adjust as needed */
}