<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PubSearch</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" defer></script>
  <link rel="icon" type="image/jpg" sizes="32x32" href="/static/images/pubsearchfavi.jpeg">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
</head>

<body>

  <!-- Logo
  <div class="absolute top-0 left-0 p-6">
    <img src="assets/images/logo.png" alt="Company logo" class="h-12">
  </div> -->

  <!-- Welcome Text -->
  <div id="textContainer" class="text-container">
    <h1 id="welcomeText" class="welcome-text">
      Welcome to PubSearch
    </h1>
  </div>

  <div class = "desc-text">
    <h2>
      Search through millions of a biomedical texts.
    </h2>
  </div>

  <!-- Search Bar -->
  <div class="relative">
    <input type="text" id="searchInput" class="search-bar" placeholder="What would you like to search today?" onkeydown="keySearch(event)">
    <button onclick="search()" class="search-btn">
      <i class="fas fa-arrow-right"></i>
    </button>
  </div>

  <div class = "filter-rocchio-button">
    <button onclick = "openFilter()" type="button" class="filter-button" id = "filter">
      Filter
    </button>

    <button onclick = "rerunSearch()" type="button" class="rocchio-button" id = "rocchio">
      Rerun for better results
    </button>
  </div>

  <div class = "hidden" id = "filterAspects">
    <div class = "filter-aspects">
      <div>
        <div class = "slider" id = "minRange">
          <h4 class ="text">Min. Year:</h4>
          <input type="number" class="slider-input" min="1900" max="2024" value="1900" onchange="this.nextElementSibling.value = this.value">
          <input type="range" class="slider" id="minYear" name="year" min="1900" max="2024" value="1900" onchange="this.previousElementSibling.value = this.value">
        </div>
        <div class = "slider" id = "maxRange">
          <h4 class = "text">
            Max. Year:  
          </h4>
          <input type="number" class="slider-input" min="1900" max="2024" value="2024" onchange="this.nextElementSibling.value = this.value">
          <input type="range" class="slider" id="maxYear" name="year" min="1900" max="2024" value="2024" onchange="this.previousElementSibling.value = this.value">
        </div>
      </div>
      <div class = "author-filter">
        <h4 class = "text">
          Author:
        </h4>
        <input type="text" class = "author-input" id="authorName" placeholder="Enter author name">
      </div>
    </div>
  </div>

  <div class = "hidden" id = "filterAlert">
    <h5 class = "text">
      Minimum year must be less than maximum year.
    </h5>
  </div>
  
  </div>
  
  <!-- Results -->
  <div id="resultsContainer" class="results-container">
    <div id="results" class="results mt-4 text-white"></div>
  </div>

  <script src="{{ url_for('static', filename='searchbar.js') }}"></script>


</body>

</html>